
ul {
    list-style-type: none;
    padding-left: 12px;
}

ul li span {
    float: left;
    width: 400px;

}

/* Split the screen in half */
.split {
    height: 100%;
    position: fixed;
    overflow-x: hidden;
    padding-top: 10px;
}

/* Control the left side */
.left {
    left: 0;
    width: 40%;
}

/* Control the right side */
.right {
    width: 60%;
    right: 0;
    background-color: Blue;
}

.meals-map
{
    height: 100%;
    position: fixed;
    width: 100%;
    background-color: #73d763;
    transition:1s;
}

.meals-map-info
{
    transition:1s;
    height: 70%;
    position: fixed;
    width: 100%;
    background-color: #73d763;
}

.createMealMap-hidden
{
    visibility: hidden;
    position: fixed;
    height: 0px;
    width: 100%;
    transition: ease-in-out 0.2s;
}

.createMealMap-small
{
    position: fixed;
    top: 50%;
    height: 50%;
    width: 90%;
    transition: ease-in-out 0.2s;
}

.createMealMap
{
    top: 0px;
    left:0px;
    position: fixed;
    height:100%;
    width: 100%;
    background-color: #73d763;
    transition: ease-in-out 0.2s;
    z-index: 1000;
}

.caption {
    background-color: Blue;
}

.marker {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 18px;
    height: 18px;
    background-color: #000;
    border: 2px solid #fff;
    border-radius: 100%;
    user-select: none;
    transform: translate(-50%   , -50%);
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #a2d888;
    color: white;
    text-align: center;
  }

  .footerItem
  {
    font-size:initial;
  }

  .menu-right {
    position: absolute;
    right: 10px;
    top: 10px
  }

  nav
  {
    background-color: #73d763;
  }

  .navbar-fixed
  {
    position: fixed;
    top:0;
    background-color: #73d763;
  }

/* Main content */
.main {
    margin-top: 60px; /* Add a top margin to avoid content overlay */
    margin-bottom: 60px;
    max-width:99%;
}

.menu
{
    background-color:#f75c06;
    position: fixed;
    right:0px;
    bottom: 56px;
    height: 91%;
    width: 50%;
    font-size: 150%;
    color: white;
    transition: 0.2s;
    top: 0px;
    padding-top: 56px;
}

.menu-hidden
{
    position: fixed;
    bottom: 56px;
    height: 91%;
    right:-10px;
    width: 0px;
    transition: 0.2s;
    top: 0px;
    padding-top: 56px;
}
.menu-hidden img{
    display: none;
}
.menu:hover {
    color: black;
}

.notes
{
    background-color:#BAE2A6;
    position: fixed;
    right:0px;
    bottom: 56px;
    height: 91%;
    width: 50%;
    font-size: 150%;
    color: white;
    transition: 0.2s;
    top: 0px;
    padding-top: 56px;
}
.notes-hidden
{
    position: fixed;
    bottom: 56px;
    height: 91%;
    right:-10px;
    width: 0px;
    transition: 0.2s;
    top: 0px;
    padding-top: 56px;
}
.notes-hidden img{
    display: none;
}
.notes:hover {
    color: black;
}

.button {
    background-color:#f75c06;
    width: 40%;
    border:none;
    height: 40px;

 }

 .button-div
 {
    text-align: center;

 }
 .navbar-icons
 {
    top: 10px;
    height:30px;
    margin-left: 0px;
    border-style: none;
 }

 .footer-icons
 {
    height:33px;
    margin: 12px;
    margin-bottom:1px;
 }

 nav a
 {
   width:20%;
 }
.active
{
    border-bottom:solid;
    border-color: white;
}

 .botttom-menu-link
 {
     bottom:    -5px;
 }

.link
{
    color: white;
    font-weight: bold;
    margin-left: 10%;

}
.vertical-spacer
{
    padding: 12%;
    border: none;
}
.name-input-field
{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    text-overflow:ellipsis;
    text-align: center;
    position: center;
}

/*temporary solution, overcomes material-ui bugs*/
.input-field>label 
{
    position: relative !important;
}
.location-input-field
{
    width: 70%;
    margin-right: 10%;
    text-overflow:ellipsis;
    text-align: center;
    position: center;
    float: right;
}
input
{
    height: 1.5rem !important ;
}

.input-field label
{
    left:0px !important;
    transform: translateY(0px);
}
.input-field>.active
{
    padding-bottom:3px  !important;
    border:none;
}

.menu-close
{
    position: absolute;
    top:14px;
    right:10px;
    height:30px;
}

.icon
{
    width: 10px;
}

.notification
{
    border:solid green;
    background-color: lawngreen;
}

.autocomplete-icon
{
    width: 20px;
    float:left;
}
.white
{
    background-color: white !important;
    
}
.google-places-autocomplete
{
    position: absolute;
    top: 5px;
    left:30px  !important;
    width: 90% !important;
    float: right !important;
    height: 40px !important;
} 
.google-places-autocomplete :focus {

    background-color: white !important;
}
.autocomplete-span
{
    background-color: white !important;
}
.autocomplete-bar
{  
    width: 100%;
} 

.map-with-marker-container
{
    position: absolute;
    top: 35px;
    left: 0%;
    height: 95%;
    width: 100%;
}
/*user info*/
.info-back-div
{
    height: 50px;
    width: 100%;
    vertical-align: middle;
    text-align: center;
    padding: 13px;
}
.info-back
{
    position:fixed;
    left:30px;
    height: 18px;
    vertical-align: middle;
}
.info-caption
{
    text-transform: uppercase;
    font-weight: 700;
    color: #009245;
    width: 100%;
    font-size: 15px;
}
.info-main-image
{
    position: absolute;
    top:100px;
    text-align: center;
    height:120px;
    width:100%;
}

.info-main-name
{
    position: absolute;
    top: 250px;
    width: 100%;
    text-align: center;
    vertical-align: bottom;
    color: white;
    font-family: 'Calibri';
    font-size: 20px;
    font-weight: 800;
    font-style: italic;
}
.info-fields
{
    margin:40px;
    color:#009245;
}

.info-column {
    float: left;
    width: 50%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.info-main
{
    position: absolute;
    top:0px;
    width: 100%;
}
.info-top
{
    background-color: #009245;
    width: 100%;
    height: 260px;
}

.info-text
{
    color: #009245;
}
/*wizard*/
.wizard-caption
{
    width: 100%;
    text-align: center;
    font-size:1.1em; /* TODO: 30% */
    color:#a2d888;
    text-transform: uppercase;
    margin-top: 1em;
    margin-bottom: 2em;
}
.wizard-progress
{
    height:100px;
}

.wizard-progress-container
{
    text-align: center;
    width: 100%;
}
.wizard-icon
{
    text-align: center;
    width: 40px;
    margin-top:30px;
}

.wizard-small-icon
{
    height: 20px;
    margin: 3px;
}

.wizard-middle
{
    margin-top: 88px;
    height: 30%;/*??*/
    z-index: -1;
}

.wizard-bottom
{
    width:100%;
    /* vertical-align: bottom; */
    bottom:20px;
}

.wizard-bottom-next
{
    position: relative;
    display: block;
    width:50px;    
    height:50px;
    right:33px;
    float: right;
    margin: 10%;
}

.wizard-bottom-last
{
    position: relative;
    width:50px;
    height:50px;
    right:25px;
    float: right;
    margin: calc(10% + 12px);
}

.wizard-bottom-prev
{
    position: relative;
    width:50px;    
    height:50px;
    left:33px;
    margin: 10%;
}
.wizard-image-placeholder-containter
{
    text-align: center;
}
.wizard-image-placeholder
{
    width: 90px;
}
.wizard-container
{
    height: 50%;
    z-index: -2;
}
.wizard-description
{
    width:100%;
}
.buttonStyle 
{
    min-width: 56px;
    width: 56px;
    min-height: 56px;
    height: 56px;
    border-radius: 8px;
}

.meal-info-location-icons
{
    margin-top: 1em;
    margin-bottom: 5px;
    margin-left: 10%;
    height:18px;
    width:18px;
}

.meal-info-guests-icons
{
    margin-top: 2.5em;
    margin-left: 10%;
    height:20px;
    width:20px;
}
