
.meals-map
{
    height: calc(100vh - 30px);/*todo: flex*/
    width: 100vw ;
    transition:0.7s;
}

.meals-map-info
{
    position: relative;
    transition:1s;
    height:  50vh;
    width: 100vw;
    /* border: solid 1px; */
    /* background-color: #73d763; */
    /* display: flex; */
    /* flex-direction: column; */
}


.createMealMap
{
    top: 30px;
    left:0px;
    position: fixed;
    height:calc(100vh - 10px);
    width: 100vw;
    background-color: #73d763;
    transition: ease-in-out 0.2s;
    z-index: 1000;
}

.caption {
    background-color: Blue;
}

/*map marker*/
.marker {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 18px;
    height: 18px;
    background-color: #000;
    border: 2px solid #fff;
    border-radius: 100%;
    user-select: none;
    transform: translate(-50%   , -50%);
}

.footer {
    position: fixed;
    background-color: white;
    left: 0;
    bottom: 0;
    width: calc(100vw - 2px);
    margin: 3px 3px 0px 0px;
    text-align: center;
    z-index: 1000;
    border: solid 1px;
    border-color: #000;
    border-radius: 20px 20px 0px 0px;
}

.navbar-top
{
    background-color: #FFFFFF;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height:50px;
}

nav
{
    background-color: white;
}

/* Main content */
.main 
{
    flex: 0 1;
    max-width:100vw;
    min-width:100vw;
    flex-direction: column;
    flex-wrap: nowrap;
    overflow: hidden;
    display:flex;
    align-items: flex-start;
}
.app
{
    flex-direction: column;
    display:flex;
}


.button {
    background-color:#f75c06;
    width: 40%;
    border:none;
    height: 40px;
 }

 .button-div
 {
    text-align: center;
    flex-shrink: 2;
    display:flex;
 }


 .footer-icons
 {
    height:49px;
    margin: 12px;
    margin-bottom:1px;
 }

.active
{
    border-bottom:solid;
    border-color: white;
}

.name-input-field
{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    text-overflow:ellipsis;
    text-align: center;
    position: center;
}

/*temporary solution, overcomes material-ui bugs*/
.input-field>label 
{
    position: relative !important;
}
.location-input-field
{
    width: 70%;
    margin-right: 10%;
    text-overflow:ellipsis;
    text-align: center;
    position: center;
    float: right;
}
input
{
    height: 1.5rem !important ;
}

.input-field label
{
    left:0px !important;
    transform: translateY(0px);
}
.input-field>.active
{
    padding-bottom:3px  !important;
    border:none;
}

.menu-close
{
    position: absolute;
    top:14px;
    right:10px;
    height:30px;
}

.icon
{
    width: 10px;
}

.notification
{
    border-right:1px solid #FFFFFF;
    background-color: #FFFFFF;
}

.autocomplete-icon
{
    position: fixed !important;
    top:70px;
    color:red !important;
    z-index:1234;
    width:20px;
}

.google-places-autocomplete
{
    position: absolute;
    top: 5px;
    left:30px  !important;
    width: calc(100vw - 50px) !important;
    float: right;
    height: 40px;
} 
.google-places-autocomplete :focus {

    background-color: white !important;
}
.autocomplete-span
{
    background-color: white !important;
    z-index: 1111;
}
.autocomplete-bar
{  
    width: 100vw;
    border: solid;
    border-color: black;
} 
.autocomplete-back
{
    position: absolute;
    top:30px;
    background-color: yellow;
    border:solid;

}

.map-with-marker-container
{
    position: absolute;
    top: 30px;
    left: 0px;
    bottom: 0px;
    width: 100vw;
}
/*user info*/

/*wizard*/
.wizard-caption
{
    position: fixed;
    top:0px;
    width: 100vw;
    text-align: center;
    font-size:0.8em; /* TODO: 30% */
    color:Gray;
    border-bottom: solid;
    text-transform: uppercase;
    /* margin-top: 1em; */
    margin-bottom: 1em;
}

.wizard-icon
{
    text-align: center;
    width: 40px;
    margin-top:30px;
}

.wizard-small-icon
{
    height: 20px;
    margin: 3px;
}

.wizard-middle
{
    /* margin-top: 88px; */
    /* height: 30%; */
    z-index: -1;
}

.wizard-bottom
{
    width:100%;
    /* vertical-align: bottom; */
    bottom:20px;
}

.wizard-bottom-next
{
    position: relative;
    display: block;
    width:50px;    
    height:50px;
    right:33px;
    float: right;
    margin: 10%;
}

.wizard-bottom-last
{
    position: relative;
    width:50px;
    height:50px;
    right:25px;
    float: right;
    margin: calc(10% + 12px);
}

.wizard-bottom-prev
{
    position: relative;
    width:50px;    
    height:50px;
    left:33px;
    margin: 10%;
}
.wizard-image-placeholder-containter
{
    text-align: center;
}
.wizard-image-placeholder
{
    width: 90px;
}
.wizard-container
{
    height: 50%;
    z-index: -2;
}
.wizard-description
{
    width:100%;
}
.buttonStyle 
{
    min-width: 56px;
    width: 56px;
    min-height: 56px;
    height: 56px;
    border-radius: 8px;
}

.meal-info-location-icons
{
    margin-top: 1em;
    margin-bottom: 5px;
    margin-left: 10%;
    height:18px;
    width:18px;
}

.meal-info-guests-icons
{
    margin-top: 2.5em;
    margin-left: 10%;
    height:20px;
    width:20px;
}

.main-app
{
    width: 100vw;
    overflow-y:'hidden';
}

/*main area inside swipable views*/
.main-app>div>div 
{
    height: calc(100vh - 91px);
}

.red-text {
    color: red;
}

/*Splash*/
.splash
{
    width:100vw;
    height: 100vh;
    text-align: center;
    background-color: lawngreen;
}

.btn-fb-login-wrapper {
    width: 100%;
    margin-top: 1vh;
    text-align: center;
}

.centered {
    width: 100%;
    text-align: center;
}