
ul {
    list-style-type: none;
    padding-left: 12px;
}

ul li span {
    float: left;
    width: 400px;
}

/* Split the screen in half */
.split {
    height: 100%;
    position: fixed;
    overflow-x: hidden;
    padding-top: 10px;
}

/* Control the left side */
.left {
    left: 0;
    width: 40%;
}

/* Control the right side */
.right {
    width: 60%;
    right: 0;
    background-color: Blue;
}

.meals-map
{
    height: 100%;
    position: fixed;
    width: 100%;
    background-color: #73d763;
    transition:1s;
}

.meals-map-info
{
    transition:1s;
    height: 75%;
    position: fixed;
    width: 100%;
    background-color: #73d763;
}

.createMealsMap
{
    top: 400px;
    position: fixed;
    height: 800px;   
    width: 100%;
    background-color: #73d763;
}

.caption {
    background-color: Blue;
}

.meal_props {
    background-color: whitesmoke;
    border: ridge;
    color: black;
    border-radius: 3px;
    transition-duration: 0.5s;
    font-size: normal;
    display: flex;
}

.meal_props:hover {
    background-color: #d6cdcd;
    border-radius: 5px;
    transition-duration: 0.5s; 
    font-size: small;
}

.meal_image {
    width: 80px;
    height: 80px;
    float: left;
}

.meal_props   span {
    font-size: small;
}
.picker
{
    background-color: #555022;
    border: ridge;
    border-color: brown;
    border-width: 3px;
}

.marker {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 18px;
    height: 18px;
    background-color: #000;
    border: 2px solid #fff;
    border-radius: 100%;
    user-select: none;
    transform: translate(-50%   , -50%);
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #a2d888;
    color: white;
    text-align: center;
  }

  .footerItem
  {
    font-size:initial;
  }
  .footerItemActive
  {
    background-color: #73d763;
    font-weight:bold;
  }

  .menuRight {
    position: absolute;
    right: 10px;
  }

  nav
  {
    background-color: #73d763;
  }

  .navbar-fixed
  {
    position: fixed;
    top:0;
    background-color: #73d763;
  }

  
/* Main content */
.main {
    margin-top: 60px; /* Add a top margin to avoid content overlay */
}

.menu
{
    background-color:#f75c06;
    position: absolute;
    height: 100%;
    width: 100%;
    font-size: 220%;
    color: white;
}
.menu:hover {
    color: black;
}

.button {
    background-color:#f75c06;
    width: 100%;
    border:none;
    height: 40px;
 }
 .navbar-icons
 {
    height:70px;
    margin-left: 0px;
    border-style: none;
 }

 .footer-icons
 {
    height:40px;
    margin-left: 20px;
    border-style: none;
 }
 .dish-icon
 {
    height:20px;
    width:20px;     
 }

 .meal-owner
 {
    color: green;
 }
 .dish-time
 {
     font-size: small;
 }
 .meal-name {
    font-weight: 700;
    color:black;
    text-overflow: ellipsis;
}
/* .attend-button
{
    position: fixed;
    right:80%;
    height:30px;
    width:30px;
} */